body{
    background-color: #adadad;
}
.bg{
    background-image: url("../img/bg.png");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    margin-top: 4rem;
    
}


.search-form{
    padding : 1rem;
    background-color: rgb(39, 38, 46);
    color: #ffffff;
    font-size: 0.8rem;
}

input, label {
    display:block;
    
}

h2{
    font-size : 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.add-btn{
    font-size: 0.8rem;
}

.update-form .btn{
    width: 13rem;
    margin: auto;
    
}
.update-form{
    background-color: rgb(39, 38, 46);
    padding-bottom:2rem;
    padding-top:0.5rem;
    padding-left:2rem;
    padding-right:2rem;
    border-radius: 1rem;
}

table{
    opacity:0.9;
}

.modif-title{
    font-size:1.2rem;
    margin-bottom:1rem;

}

.label-add{
    font-size:0.8rem;
    margin-bottom: 0rem;
    opacity:0.8;
}